<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<integer>1</integer>
		<key>name</key>
		<string>Test 1</string>
		<key>description</key>
		<string>This is a test for 1.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>2</integer>
		<key>name</key>
		<string>Test 2</string>
		<key>description</key>
		<string>This is a test for 2.</string>
	</dict>
	<dict>
		<key>id</key>
		<integer>3</integer>
		<key>name</key>
		<string>Test 3</string>
		<key>description</key>
		<string>This is a test for 3.</string>
	</dict>
</array>
</plist>
